<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

    <title>Baby's First Drum Machine || Video</title>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        color: #FFF;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        overflow: hidden;
      }
      #video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>

</head>
<body>
    <% if (video) {%>
    <div id="video">
        <video id="video" height="100%" controls poster="https://qr.patternbased.com/images/thumbnail/<%=appname%>.jpg">
            <source src="https://qr.patternbased.com/processed/<%=appname%>/<%=videoid%>_optimized.mp4" type="video/mp4">
        </video>
    </div>
    <% } else { %>
        <div>
            <p>Processing the video. Please try again. ID: <%=videoid%></p>
        </div>
    <% } %>

</body>
</html>
